*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: -1rem;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;

}

.FirstHeader{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 4rem;
  padding-right: 4rem;
  box-shadow: 0 0 2px 0.5px rgba(0, 0, 0, 0.3);
  position: relative;
  width: 100%;
}

.contactSection{
  display: flex;
  align-items: center;
  gap: 2rem;
  position: relative;
}
.notes,.socialMedia{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
.invisible{
  display: none;
}
.stickIt{
  position: fixed;
  top: 15%;
  right: 0rem;
  z-index: 1000;
  background-color:rgb(214, 212, 212);
  font-weight: bold;
  width: 3rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding-left: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  font-size: 1.2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: black;
  overflow: hidden;
}

.menuStyle .icon{
  font-size: 2rem;
}
.notesShow{
  position: absolute;
  top: 3rem;
  right: -2rem;
  background-color: whitesmoke;
  padding-left: .5rem;
  padding-right: .5rem;
  z-index: 100;
  
}
.moveRight{
  animation: opacityRight 3s forwards;
}
@keyframes opacityRight {
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(150%);
  }
}
.visible{
  animation: moveRight 3s forwards;
  opacity: 1;
}
@media all and (max-width:690px) {
  .FirstHeader{
    padding-left: 2rem;
  }
  .notes,.socialMedia{
  gap: 1rem;
}
}
.iconStyle{
  color: rgb(94, 91, 91);
  transition: color .3s ease-in-out,cursor .3s ease-in-out;
}
.iconStyle:hover{
  color: black;
  cursor: pointer;
}
body{
  position: relative;
  width: 100;
  overflow: hidden;
}
.intro{
  background-image: url('/mateus-campos-felipe-K5JcwDBrYKo-unsplash.jpg');
  background-position: right;
  object-fit: cover;
  background-repeat: no-repeat;
  height: auto;
  padding-bottom: 8rem;
  margin-right: -1rem;

}
.section1{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 2rem;
  padding-left: 2rem;
  padding-top: 5rem;
  padding-right: 2rem;
}
@keyframes moveLeft {
  from{
    transform: translateX(-100%);
  }
  to{
    transform: translateX(0%);
  }
}
.leftPart{
  animation: moveLeft 3s forwards;
}
.leftPart h1{
  font-size: 2.8rem;
  width: 80%;
}
.leftPart button{
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: .7rem;
  padding-top: .4rem;
  padding-bottom: .4rem;
  border: 1px solid black;
  border-radius: 3rem;
  width: 80%;
}
.leftPart button input{
  width: 25rem;
  padding-top: .6rem;
  padding-bottom: .6rem;
  padding-left: .5rem;
  border: none;
  outline: none;
  background-color: transparent;
}
.iconSearch{
  font-size: 2rem;
  transition: color .3s ease-in-out;
}
.iconSearch:hover{
  color: blue;
}
@keyframes moveRight {
  from{
    transform: translateX(100%);
  }
  to{
    transform: translateX(0%);
  }
}
.rightPart{
 width: 100%;
  box-shadow: 0 0 5px 0.5px rgba(0, 0, 0, 0.3);
  padding-bottom: 2rem; 
  padding-right: 2rem;
  animation: moveRight 3s forwards;
}
.rightPart .firstPart{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}
.rightPart .icon{
  font-size: 5rem;
}
.snow{
  color: cornflowerblue;
}
.cloudy{
  color:lightskyblue;
}
.partlysunny,.sunny{
  color: rgb(255, 217, 0);
}
.stateContainer .state{
  font-size: 2rem;
  margin-bottom: 0;
}
.stateContainer .city{
  font-size: 1rem;
  text-align: center;
  margin-top: 0;
}
.temp{
  padding-top: 0;
  font-size: 2rem;
}
.secondPart .iconSmall{
  font-size: 2rem;
}
.secondPart{
  display: flex;
  align-items: center;
  justify-content: center;
}

.sun{
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: block;
}
.divSun1,.divSun2{
  display: flex;
  align-items: center;
  line-height: .4rem;
  padding-left: 2rem;
  gap: .5rem;
}
@media all and (max-width:380px) {
  .divSun1,.divSun2{
    line-height: .8rem;
  }
  .leftPart h1{
    font-size: 2.4rem;
  }
  .section1{
    padding-top: 0;
  }
}
.hue{
  color: beige;
}
.link{
  color: black;
}
.mainsectionWeather{
  margin-top: 2rem;
  padding-right: 2rem;
  }
.mainsectionWeather ul{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 2rem;
  color: white;
}
.mainsectionWeather li{
  position: relative;
  list-style: none;
}
.mainsectionWeather li img{
  width: 100%;
  height: 20rem;
  filter: brightness(50%);
  border-radius: 2rem;
}
.mainsectionWeather .sectionWeather{
  position: absolute;
  top: 6rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));
  padding-left: 2rem;
  gap: 1rem;
  width: 100%;
}
.sectionWeather .weatherNotes{
  line-height: 0;
}
.sectionWeather .weatherNotes2{
  line-height: .5rem;
}
.sectionWeather .weatherNotes2 h5{
  font-weight: bold;
  font-size: 1.2rem;
}
.notesCon{
  line-height: 0;
  margin-bottom: -1rem;
}
.weatherDiv{
  display: flex;
  align-items: center;
  font-size: 2rem;
}
.noResult{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 5rem;
  left: 1rem;
  right: 1rem;
  color: black;
}
.noSearch h2{
  text-align: center;
  font-size: 2.5rem;
}
.noSearch p{
  font-size: 1.2rem;
}

/* second 2 */
.second2{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  gap: 2rem;
  padding: 2rem;
}
.sectionSecond1{
  width: 90%;
}
.sectionSecond1 h2{
  font-size: 2rem;
}
.sectionSecond2{
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
@media all and (max-width:780px) {
  .sectionSecond2{
    display: grid;
    grid-template-columns: 1fr;
  }
}
@media all and (max-width:520px) {
  .second2{
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    padding-left: 3rem;
  }
}
@media all and (max-width:340px) {
  .second2{
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    padding-left: 2rem;
  }

  .rightPart{
    width: 90%;
  }
}
.smallerSecond{
  background-color: whitesmoke;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: .5rem;
  width: 100%;
  padding-bottom: 5rem;
  
}
.sectionSecond1{
  animation: moveLeft 3s forwards;
}
.sectionSecond2{
  animation: moveRight 3s forwards;
}
.smallerSecond2{
  background-color: gray;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: .5rem;
  width: 100%;
  padding-bottom: 5rem;
}

.upper{
  display: flex;
  align-items: center;
  font-size: 3rem;
  gap: 1rem;
  padding-left: .5rem;
  padding-right: .5rem;
}
.name{
  padding-top: 0;
  font-size: 1rem;
  text-align: center;
}
.countryContainer{
  line-height: 0;
}
.middleCover{
  display: flex;
  justify-content: center;
}
.middle{
  background-color: transparent;
  width: 80%;
  padding-left: 2rem;
  padding-right: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.middlePart{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.divsmallest{
  line-height: .4rem;
}
.thirdPart{
  padding: 2rem;
}
.thirdPart h1{
  font-size: 2rem;
  /* line-height: .5rem; */
}
/* .section3{
} */
.section3 ul{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 2rem;
  list-style: none;
}
.flagContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 1px solid rgb(145, 143, 143);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
}
.flag2{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.flagIcon{
  width: 2rem;
  border: none;
  border-radius: 50%;
}
.flagContainer .icon{
  font-size: 1.5rem;
}
.link{
  text-decoration: none;
  color: black;
}

.fourthPart{
  padding-left: 2rem;
  padding-right: 2rem;
}
.newsHeader{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.part1{
  width: 40%;
  text-align: justify;
}

.newsSection{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: .4rem;
  margin-bottom: -5rem;
 
}
.newGird{
  height: 50%;
  transition: scale 1s ease-in-out;
}
.newGird:hover{
  scale: .8;
}
.newGird img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2rem;
}

.fifthPart{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  gap: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.fifthPart .part1{
  width: 90%;
}
.smallerSecond3{
  width: 80%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding-bottom: 2rem;
}
@media all and (max-width:500px) {
  .smallerSecond3{
    width: 70%;
  }
}
@media all and (max-width:450px) {
  .smallerSecond3{
    width: 65%;
  }
}
@media all and (max-width:400px) {
  .smallerSecond3 .upper, .smallerSecond .upper, .smallerSecond2 .upper{
    font-size: 2rem;
  }
  .smallerSecond3{
    width: 50%;
  }
}

.mainFooter{
  padding-top: 5rem;
  margin-bottom: -4rem;
  overflow: hidden;
}

.footer1,.footer2{
  background-color: aliceblue;
  padding-top: 5rem;
  padding-bottom: 8rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.footer1 p{
  width: 50%;
  text-align: justify;
}
.countIn{
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
.countIn input{
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  font-size: 1.5rem;
  background-color: transparent;
}
.countIn input::placeholder{
  font-size: 1.5rem;
  color: black;
}
.countIn button{
  width: 18rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 2rem;
  background-color: transparent;
}

.footer2{
  background-color: black;
  color: white;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 5rem;
  
}
.div1 p{
  text-align: justify;
}
.div2{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  /* gap: 2rem; */
  padding-right: 2rem;
}

.links{
  text-decoration: none;
  color: white;
}